@import '../../styles/customMediaQueries.css';
@import '../../styles/propertySets.css';

.pageTitle {
  color: #1A0C06;
  font-size: 44px;
  font-weight: 600;
  font-family: 'Sen', sans-serif;
  line-height: 52px;
  text-align: left;
  display: inline-block;
}
.pageTitle:after {
  content: "";
  height: 8px;
  display: block;
  width: 100%;
  background-color: var(--marketplaceColor);
  margin-top: 5px;
}

.staticPageWrapper {
  width: calc(100% - 48px);
  max-width: 1056px;
  margin: auto;
  padding: 50px 0 100px;

  @media (--viewportMedium) {
    width: calc(100% - 72px);
    margin: auto;
  }
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem !important;

  @media (--viewportMedium) {
    flex-wrap: nowrap;
  }
}

.contentSide {
  font-style: italic;

  @media (--viewportMedium) {
    width: 193px;
    margin-right: 103px;
    margin-top: 8px;
  }
}

.contentMain {
  width: 90%;

  @media (--viewportMedium) {
    max-width: 650px;
  }
}

.subtitle {
  @apply --marketplaceH3FontStyles;
  margin-top: 32px;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .coverImage {
    height: 150px;
  }
}

.heroBannerContainer {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  height: 67.5vh;
  max-height: 600px;
  padding: 0;
  background: #F5F6F7;
  backdrop-filter: blur(60px);
  @media (--viewportMedium) {
    min-height: 500px;
    height: auto;
    max-height: none;
  }

  @media (--viewportLarge) {
    max-height: 800px;
    min-height: 600px;
    height: calc(70vh - var(--topbarHeightDesktop));
  }
}
.coverImage {
  width: 100%;
  min-height: 600px;
  /* border-radius: 4px; */
  object-fit: cover;
  /* border: solid 36px transparent; */
}

@media only screen and (max-width: 767px) {
  .pageTitle {
    font-size: 32px;
    line-height: 48px;
  }
  .heroBannerContainer, .coverImage {
    max-height: 400px;
    min-height: 400px;
    border: solid 0 transparent;
  }
}
