@import '../../styles/propertySets.css';

.root {
  position: relative;
  display: inline-block;
}

.label {
  @apply --marketplaceButtonStylesSecondary;
  @apply --marketplaceSearchFilterLabelFontStyles;

  padding: 9px 9px;
  width: auto;
  height: auto;
  min-height: 0;
  border-radius: 20px;
  background-color: #1A35C9;
  color: #fff;

  &:focus {
    outline: none;
    background-color: #1A35C9;
    color: #fff;
    border-color: transparent;
    text-decoration: none;
  }

  &:hover {
    outline: none;
    background-color: #1A35C9;
    color: #fff;
    border-color: transparent;
    text-decoration: none;
    box-shadow: var(--boxShadowFilterButton);
  }
}

.labelSelected {
  @apply --marketplaceButtonStyles;
  @apply --marketplaceSearchFilterLabelFontStyles;
  font-weight: var(--fontWeightSemiBold);

  padding: var(--marketplaceButtonSmallDesktopPadding);
  width: auto;
  height: auto;
  min-height: 0;
  border-radius: 4px;
  border: 1px solid var(--marketplaceColor);

  &:hover,
  &:focus {
    border: 1px solid var(--marketplaceColorDark);
  }
}
